streamlit
langchain
langchain-core
langchain-community
langchain-groq
groq
langgraph
chromadb
duckduckgo-search
requests
reportlab
python-dotenv
protobuf~=4.25.3
chromadb>=0.4.15
opentelemetry-api>=1.20.0
opentelemetry-sdk>=1.20.0
opentelemetry-proto>=1.20.0
